<div class="main_content">
  <div class="main-header">

  </div>
  <div class="main-body">
      <div class="weather_location">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="location_icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
        </svg>
        <div>
          {{ weather.name }}
        </div>        
      </div>
      <div class="time-span">
          Pridobljeno: 02.06.2024
      </div>
      <div class="information-row">
        <div class="col-2">
          <img [src]="getWeatherType(weather.weather[0].main)" alt="">
          <div>
            <div class="sunset_sunrise">
                <span>
                  Sončni vzhod: <b><i>{{convertSunriseTime(weather.sys.sunrise)}}</i></b>
                </span>
                <span>
                  Sončni zahod: <b><i>{{ convertSunset(weather.sys.sunset) }}</i></b>
                </span>
            </div>
            <div class="wind">
              <span>
                Hitrost vetra: <b><i>{{ weather.wind.speed}} km/h</i></b>
            </span>
          </div>
  
          </div>
          <div class="current_temp">
            {{ convertKelvin(weather.main.temp).toFixed(1) }} °C
          </div>
          <div class="min_max">
            <div class="mm_div">
              {{ convertKelvin(weather.main.temp_min).toFixed(1) }} °C
            </div>
            <div class="mm_div">
              {{ convertKelvin(weather.main.temp_max).toFixed(1) }} °C
            </div>
          </div>
        </div>  
        <div class="forcast">
          <div class="forcast-title">
            5 dnevna vremenska napoved
          </div>
          <div class="forcast-days">
            @for(list of weatherList ; track list){
                  <div>
                    <img [src]="getWeatherType(list.weather[0].main)" alt=""> 
                    <div class="temp-day-name">
                      {{ convertDateTime(list.dt)}}
                    </div>
                    <div class="fd-temp">
                      <div class="fdt-min">
                        {{ convertKelvin(list.main.temp_min).toFixed(0) }} °C
                      </div>
                      <div class="fdt-max">
                        {{ convertKelvin(list.main.temp_max).toFixed(0) }} °C
                      </div>
                    </div>
                  </div>
            }

          </div>
        </div>
      </div>
  </div>
</div>